{% extends 'base.html' %}
    {% block content %}
        <div class="row flex-column my-4">

            <div class="ml-5">
                <a href="{% url 'member_register' %}" class="btn btn-outline-primary"> Create New User </a>
            </div>

            {% for usr in usr_list %}

            <div class="container" style="background-color: {% cycle '#f2f2f2' '#e6e6e6'  %}; outline: #d9d9d9 solid 2px">
                <div class="row my-2">
                    <div class="col mx-0">
                        {{ usr.id }}
                    </div>
                    <div class="col">
                        {{ usr.group.name }}
                    </div>
                    <div class="col">
                        {{ usr.user.username }}
                    </div>
                    <div class="col">
                        <a href="{% url 'administration_edit_user' usr.id %}" class="btn btn-primary"> Edit Details </a>
                    </div>
                    <div class="col">
                        <a href="{% url 'administration_group_user' usr.id %}" class="btn btn-success"> Modify Groups </a>
                    </div>
                    {% if usr.is_flagged %}
                    <div class="col">
                        <a href="{% url 'administration_flag_user' usr.id %}" class="btn btn-warning" style="background-color: orange"> Unflag User </a>
                    </div>
                    {% else %}
                    <div class="col">
                        <a href="{% url 'administration_flag_user' usr.id %}" class="btn btn-warning"> Flag User </a>
                    </div>
                    {% endif %}
                    <div class="col">
                        <a href="{% url 'administration_edit_user' usr.id %}" class="btn btn-warning"> Warn User </a>
                    </div>
                    <div class="col">
                         <a href="{% url 'administration_delete_user' usr.id %}" class="btn btn-danger"> Delete User </a>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    {% endblock content %}