{% extends 'base.html' %}
            {% block content %}
                <section class="info">
                    <div class="row ml-2">
                        <h5> Change Group For:&nbsp;</h5>
                        <h5 style="color: #4dc3ff"> {{ member.user.username }} </h5>

                    </div>
                    <form  method="POST" enctype="multipart/form-data" action="" class="row ml-2">
                        {% csrf_token %}
                        <table>
                            {{ choice_form.as_table }}
                        </table>

                        <input type="submit" value="CONFIRM" />
                    </form>

                </section>
        {% endblock content %}