<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>Project 2</title>
        <link rel ="stylesheet" href="styles/style.css">
    </head>
    <body>
        <h1>Django Project Site</h1>
        <!-- <div id="admin">
            <h2>Administration Application</h2>
        </div> 
        <div id="user_mgmt">
            <h2>User Management Application</h2>
        </div>
        <div id="messaging">
            <h2>Messaging Application</h2>
        </div> -->
        <div id="catalog">
            <h2>Item Catalog Application</h2>
                <section id="catalogstuff">
                    <section id="menu">
                        <button id="home">Home</button>
                        <button id="list">List All Items</button>
                        <button id="contact">Contact</button>
                        <button id="about">About</button>
                    </section>
                    <section id="forum">
                        <label for="filter">Filter by</label>
                        <select id="filter" name="filter">
                            <option value="year">Year</option>
                            <option value="month">Month</option>
                            <option value="day">Day</option>
                            
                        </select>
                        <label for="sort">Sort by</label>
                        <select id="sort" name="sort">
                            <option value="year">Year</option>
                            <option value="month">Month</option>
                            <option value="day">Day</option>
                        </select>
                        <section id="forum_content">
                                <table>
                                    <tr>
                                        <th>Title</th>
                                        <th>Posted By</th>
                                        <th>Date</th>
                                    </tr>
                                    <tr>
                                        <td id="title">Hello!</td>
                                        <td id="OP">Michael Obadia</td>
                                        <td id="date">April 25th, 2022</td>
                                    </tr>
                                </table>
                            </section>
                    </section>
                </section>
        </div> 
        <footer>
            <p>Minh Duc Hoang</p>
            <p>Christopher James Dagenais</p>
            <p>Michael Obadia</p>
            <p>Dany Makhoul</p>
        </footer>
    </body>