body {
    height: 100%;
    width: 100%;
    background-color: #404040;
    color: #d9d9d9;
    font-family: monospace;
}

header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #262626;
}

footer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #262626;
}



#left_header {
    margin: 10px 10px 10px 40px;
}

#right_header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.right_header_node {
    margin: 27px 40px 40px 40px;
}