{% extends 'base.html' %}
    {% block content %}
        <section class="info">
                <a href="{% url 'add_item' %}"> add an item</a>
                <table>
                    <tr>
                        <th>title</th>
                        <th>price</th>
                    </tr>
                    {% for obj in object_list %}
                    <tr>
                        <td>
                            <a href="{% url 'itemCatalog_item_detail' obj.item_id %}">
                            {{obj.title}}
                            </a>

                        </td>
                        <td>{{obj.price}}</td>
                        <td align="right">
                            <a href="{% url 'update_item' obj.item_id %}" class="btn btn-outline-secondary"> Update </a>
                        <td align="right">
                            <a href="{% url 'delete_item' obj.item_id %}" class="btn btn-outline-danger"> Delete </a>
                        </td>

                    </tr>
                    {% endfor %}
                </table>
        </section>
    {% endblock content %}