{% extends 'base.html' %}
    {% block content %}
        <section class="info">
                <a href="{% url 'add_item' %}"> add an item</a>
            {% for obj in object_list %}
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="..." alt="Card image cap">
                  <div class="card-body">
                      <a href="{% url 'itemCatalog_item_detail' obj.id %}">
                          <h5 class="card-title">{{obj.title}}</h5>
                            </a>

                    <p class="card-price">{{obj.price}}</p>
                      <p class="card-text">{{obj.description}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
            </div>
            {% endfor %}
        </section>
    {% endblock content %}