{% extends 'base.html' %}
    {% block content %}
<!--             <div class="card" style="width: 18rem;">-->
        <div class="container" id="item-container">
          <div class="row">
            <div class="col">
               <img class="card-img" src="{{ item.image.url }}" alt="Card image cap">
            </div>
                <div class="col">
                    <h2>{{item.title}}</h2>
                <section>About this item:</section>
                      <ul>
                          <li>
                              {{ item.description }}
                          </li>
                          <li>
                              genre: {{item.genre}}
                          </li>
                          <li>
                              Price: {{item.price}}$
                          </li>
                          <li>
                              Address: {{item.address}}
                          </li>
                          <li>
                              Status: {{item.status}}
                          </li>
                      </ul>

            <section class="col text-center">
                <form class="rate-form" action="" method="POST" id="{{object.id}}">
                    {% csrf_token %}
                    {{ review_form.as_p }}
<!--                    <button class="fa fa-star fa-2x rev-btn" id="first"></button>-->
<!--                    <button class="fa fa-star fa-2x rev-btn" id="second"></button>-->
<!--                    <button class="fa fa-star fa-2x rev-btn" id="third"></button>-->
<!--                    <button class="fa fa-star fa-2x rev-btn" id="fourth"></button>-->
<!--                    <button class="fa fa-star fa-2x rev-btn" id="fifth"></button>-->
<!--                     <div class="form-group">-->
<!--                    <textarea class="form-control"  rows="3">-->

<!--                    </textarea>-->
<!--                    </div>-->
                    <div class="form-group" id=confirm-box">
                        <button type="submit" class= "btn btn-outline-secondary"> Post </button>
                    </div>
                </form>
            </section>
            <br>
            <div>
                {{ comments_list }}
                {% for comment in object_list %}
                    <p>
                        {{ comment.comment }}
                    </p>
                {% endfor %}
            </div>
        </section>

        </div>
            </div>
        </div>
    {% endblock content %}