{% extends 'base.html' %}
    {% block content %}
        <div class="container" id="item-container">
          <div class="row">
            <div class="col">
               <img class="card-img" src="{{ item.image.url }}" alt="Card image cap">
            </div>
                <div class="col">
                    <h2>{{item.title}}</h2>
                <div>About this item:</div>
                      <ul>
                          <li>
                              {{ item.description }}
                          </li>
                          <li>
                              genre: {{item.genre}}
                          </li>
                          <li>
                              Price: {{item.price}}$
                          </li>
                          <li>
                              Address: {{item.address}}
                          </li>
                          <li>
                              Status: {{item.status}}
                          </li>
                      </ul>
                </div>
          </div>
            <br>
            <hr>

            <br>
            <div class="row">
            <div class="col text-center">
                <form class="rate-form" action="" method="POST" id="{{object.id}}">
                    {% csrf_token %}
                    {{ review_form.as_p }}
                    <div class="form-group" id=confirm-box">
                        <button type="submit" class= "btn btn-outline-secondary"> Post </button>
                    </div>
                </form>
            </div>
            </div>
            <div class="row">
                <div class="col-sm">
                <h3>Comments:</h3>
            <ul class="list-group">
                {% for obj in item_reviews %}
                <li class="list-group-item">

                         {{ obj.comment }}
                        <br>
                    <p id="comment_author">
                        created by : {{obj.author.user}}
                    </p>

                    </li>
            </ul>
                {% endfor %}
                </div>
            </div>
        </div>
    {% endblock content %}