{% extends 'base.html' %}
    {% block content %}
        <section class="info">

       <div class="container-fluid mb-4">
           <a href="{% url 'item-create' %}">
                <button class="btn btn-secondary" id="add-btn">
                    add an item
                </button>
            </a>
                   <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                {% for obj in object_list %}

        <div class="col-auto">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src={{ obj.image.url }} alt="Card image cap">
                  <div class="card-body">
                      <a class="item-title" href="{% url 'itemCatalog_item_detail' obj.id %}">
                          <h5 class="item-title">{{obj.title}}</h5>
                            </a>

                    <p class="card-price">{{obj.price}}$</p>
                      <p class="item-likes">likes: </p>
                      <p class="item-owner">added by: {{obj.owner.user}}</p>
                      {% if user == obj.owner.user %}
                      <a href="{% url 'item-update' obj.id %}" class="btn btn-outline-secondary"> Update </a>
                      <a href="{% url 'item-delete' obj.id %}" class="btn btn-outline-danger"> Delete </a>
                      {% endif %}
                  </div>
            </div>
            </div>
            {% endfor %}
           </div>

       </div>

      <div class="pagination justify-content-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
      </div>
            </section>
    {% endblock content %}>