{% extends 'base.html' %}
    {% block content %}
    <div style="text-align: center;">
                <h1>
                    You Searched for ..
                </h1>
              {% if searched %}
                        <h1>
                            {{searched}}
                        </h1>

                        <br>

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                {% for obj in items_list %}
                    <div class="col-auto">
                        <div class="card" style="width: 18rem;">
                          <img class="card-img-top" src={{ obj.image.url }} alt="Card image cap">
                              <div class="card-body">
                                  <a class="item-title" href="{% url 'itemCatalog_item_detail' obj.id %}">
                                      <h5 class="item-title">{{obj.title}}</h5>
                                        </a>

                                <p class="card-price">{{obj.price}}$</p>
                                  <p class="item-likes">likes: </p>
                                  <p class="item-owner">added by: {{obj.owner.user}}</p>
                                  <a href="{% url 'item-update' obj.id %}" class="btn btn-outline-secondary"> Update </a>
                                  <a href="{% url 'item-delete' obj.id %}" class="btn btn-outline-danger"> Delete </a>
                              </div>
                        </div>
                        </div>
                        {% endfor %}

                </div>
            {% else %}
                <h1> No Result Found </h1>
            {% endif %}

    </div>
    {% endblock content %}