{% extends 'base.html' %}
    {% block content %}
       <div style="text-align: center;">
           <h1>add an item</h1>
           <br>
           {% if submitted %}
                Your Item was submitted successfully!
           {% else %}
               <form action="" method=POST>
                   {% csrf_token %}
                   {{ form.as_p }}
                   <input type="submit" value="Submit">
               </form>
           {% endif %}


       </div>
    {% endblock content %}