{% extends 'base.html' %}
    {% block content %}
        <section class="info">

       <div class="container-fluid mb-4">
           <a href="{% url 'item-create' %}">
                <button class="btn btn-secondary" id="add-btn">
                    add an item
                </button>
            </a>
                   <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                {% for obj in object_list %}

        <div class="col-auto">
            <div class="card" style="width: 18rem;">
              <img class="card-img-top" src={{ obj.image.url }} alt="Card image cap">
                  <div class="card-body">
                      <a class="item-title" href="{% url 'itemCatalog_item_detail' obj.id %}">
                          <h5 class="item-title">{{obj.title}}</h5>
                            </a>

                    <p class="card-price">{{obj.price}}$</p>
                      <p class="item-likes">likes: </p>
                      <p class="item-owner">added by: {{obj.owner.user}}</p>
                      <a href="{% url 'item-update' obj.id %}" class="btn btn-outline-secondary"> Update </a>
                      <a href="{% url 'item-delete' obj.id %}" class="btn btn-outline-danger"> Delete </a>
                  </div>
            </div>
            </div>
            {% endfor %}
           </div>

       </div>
      <!--add pagination code here -->
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
            </section>
    {% endblock content %}