{% extends 'base.html' %}
    {% block content %}
<!--             <div class="card" style="width: 18rem;">-->
        <div class="container" id="item-container">
          <div class="row">
            <div class="col">
               <img class="card-img" src="{{ object.image.url }}" alt="Card image cap">
            </div>
                <div class="col">
                    <h2>{{object.title}}</h2>
                <section>About this item:</section>
                      <ul>
                          <li>
                              {{ object.description }}
                          </li>
                          <li>
                              genre: {{object.genre}}
                          </li>
                          <li>
                              Price: {{object.price}}$
                          </li>
                          <li>
                              Address: {{object.address}}
                          </li>
                          <li>
                              Status: {{object.status}}
                          </li>
                      </ul>

            <section class="col text-center">
                <span class="fa fa-star fa-2x checked" id="first"></span>
                <span class="fa fa-star fa-2x checked" id="second"></span>
                <span class="fa fa-star fa-2x checked" id="third"></span>
                <span class="fa fa-star fa-2x" id="fourth"></span>
                <span class="fa fa-star fa-2x" id="fifth"></span>
            </section>
            <br>
            <div id="confirm-box"></div>

                <section>{{object.rate}}</section>
<!--            <img class="card-img-top" src={{ object.image.url }} alt="Card image cap">-->
        </section>

        </div>
            </div>
        </div>
    {% endblock content %}