{% extends 'base.html' %}
{% block content %}
<section>
    <div class="row">
        <div class="col-sm-4">
            <h1> Profile </h1>
            <img src="{{ user.member.avatar.url }}" class="img-thumbnail">
        </div>
        <div class="col-sm-4">
            <h4> Edit profile </h4>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ edit_form.as_table }}
                </table>
                <table>
                    {{ member_form.as_table }}
                </table>
                <input type="submit" value=" Edit "/>
            </form>
        </div>
        {% if user.member.is_warned %}
        <div class="col-sm-4">
            <h1> You have been warned! </h1>
        </div>
        {% else %}
        <div class="col-sm-4">
            <h4> You have not been warned, yet! Do not violate our terms and conditions. Posting cringe can lead to a maximum of 5 years in prison without parole.</h4>
        </div>
        {% endif %}
    </div>
</section>
{% endblock content %}